body{
    background: rgb(193,147,110);
    background: linear-gradient(90deg, rgba(193,147,110,1) 0%, rgba(246,202,167,1) 100%);
}


.contenido{
    width: 940px;
    background-color: #FFFFFF;
    margin: 6% auto;
    display: flex;
}

.credenciales{
    width: 350px;
    padding: 50px;
    display: block;
}

.credenciales .cuadro{
    background-color: #765844;
    width: 30px;
    height: 30px;
    color: #765844;
    border-radius: 5px;
    opacity: 90%;
}

.credenciales h1{
    font-weight: bold;
}


form{
    margin-top: 40px
}

.credenciales form label{
    font-weight: bold;

}

.credenciales input{
    margin: 5px 0 15px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #D2D2D2;
    border-radius: 3px;
    width: 100%;
}

form a{
    text-decoration: none;
}

.olvideMP{
    color: black;
    font-size: 12px;
    padding-bottom: 20px;
}

.enviar{
    display: block;
    width: 50%;
    background: rgb(118,88,68);
    margin: 10px 0;
    padding: 15px 0;
    color: #FFFFFF;
    text-align: center;
    border-radius: 3px;
}

.cambiar-password{
    text-align: center;
    font-size: 14px;
}

.imagen{
    width: 595px;
    position: relative;
    background-image: url('../assets/LoginImage.jpg');
    background-position: left;
    background-size: cover;

}

.imagen:before{
    content: '';
    width: 100%;
    height: 100%;
    background: #765844;
    opacity: 65%;
    position: absolute;
    top:0; left:0;
}

.img-credenciales{
    margin: 50px 50px 0 50px;
    color: #FFFFFF;
    position: relative;
    padding-top: 50px;
}

.img-credenciales h2{
    font-size: 40px;

}

