.openMenu{
    width: 100%;
    height: 500px;
    background: linear-gradient(93.1deg, #c1936e 22.78%, #f6caa7 73.5%);
    display: flex;
    flex-direction: column;
    z-index: 15;
    position: fixed;
    margin-top: 85px;
    padding: 8%;
    align-items: center;   
}

.openMenu > * + * {
    margin-top: 40px;
}

.LinkOpen{
    display: inline-block;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    transition: color 0.3s ease;
    color: white;
}

.LinkOpen:hover , .LinkOpen:hover{
    color: #b58361;
}

.LinkOpen::before , .LinkOpen::before{
    content: "";
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #b58361;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}
.LinkOpen:hover::before, .LinkOpen:hover::before{
    transform: scaleX(1);
    transform-origin: bottom left;
}